:root {
  --red:#f53b57;
}

* {
  // font-family: 'Roboto', sans-serif;
  font-family: cursive;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; 
  border: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

*::selection {
  background: var(--red);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  /* height:200rem; */
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #333;
}

html::-webkit-scrollbar-thumb {
  background: var(--red);
}

section {
  min-height: 100vh;
  padding:0 7%;
  padding-top: 11rem;
  padding-bottom: 9rem;
}
