// // Começo header section and responsiveness
.homepage {
  // h1, h3 {
  //   font-family: 'Oswald', sans-serif;
  // }

  header {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    background: url(../../public/images/header-bg.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: 10000;
    padding: 1.5rem 7%;
    padding-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 2.5rem;
      color:#333;

      svg {
        padding-right: 0.5rem;
        color: var(--red);
      }
    }

    .navbar a {
      font-size: 2rem;
      margin-left: 2rem;
      color: #333;

      &:hover{
        color: var(--red);
      }
    }

    .menuBars {
      font-size: 3rem;
      border: 0.1rem solid #333;
      color: #333;
      padding: 0.5rem 1.5rem;
      cursor: pointer;
      border-radius: 0.5rem;
      display: none;
    }
  }

  @media (max-width: 1200px) {
    header {
      padding: 1.5rem 3%;
      padding-bottom: 6rem;
    }
  }

  @media (max-width: 768px) {
    header {
      .menuBars {
        display: block;
      }

      .navbar {
        position: absolute;
        top: 70%; 
        left: 0; 
        right: 0;
        height: calc(100vh - 70%);
        border-top: 0.2rem solid #333;
        background: url(../../public/images/card-bg1.png) no-repeat;
        background-size: cover;
        background-position: center;

        a {
          font-size: 2.5rem;
          margin: 2rem 0;
          display: block;
          text-align: center;
        }
      }
    }
  }

  @media (max-width: 450px) {}
}
// // Fim header section and responsiveness
// // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Começo footer section 
.footer {
  background: #282727;
  padding: 1rem 7%;

  .boxContainer {
    display: flex;
    flex-wrap: wrap;

    .box {
      flex: 1 1 25rem;
      margin: 2rem;

      h3 {
        font-size: 2rem;
        color: #fff;
        padding: 1rem 0;
        font-weight: normal;
      }

      p {
        font-size: 1.4rem;
        color: #eee;
        padding: 1rem 0;

        svg {
          padding-right: 0.2rem;
          color: var(--red);
        }
      }

      a {
        font-size: 1.4rem;
        color: #eee;
        padding: 1rem 0;
        display: block;

        &:hover {
          color: var(--red);
        }

        svg {
          padding-right: 0.2rem;
          color: var(--red);
        }
      }
    }
  }

  .credit {
    font-size: 2rem;
    text-align: center;
    border-top: 0.2rem solid rgba(255, 255, 255, 0.7);
    padding: 2rem 1rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    color: #fff;

    a {
      color: var(--red);
    }
  }
}
// Fim footer section 
// // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

