// // Começo header section and responsiveness
.homepage {
  h1, h3 {
    font-family: 'Oswald', sans-serif;
  }

  @media (max-width: 768px) {
    .menuBar {
      display: block;
    }
  
    .navbarClosed {
      position: fixed;
      top: 8rem; 
      left: 0;
      width: 100%;
      background: var(--blue);
      border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
      transform: scaleY(0);
      transform-origin: top;
      opacity: 0;

      ul {
        flex-flow: column;
        padding: 2rem;
      }

      li {
        margin: 1.5rem;
        width: 100%;
      }

      .active {
        color: #333;
        border-color: #333;
      }

      a {
        display: block;
        color: #fff;
        padding-left: 2rem;
        border-left: 0.2rem solid #fff;
        font-size: 2rem;

        &:hover {
          color: #333;
          border-color: #333;
        }
      }
    }

    .navbarOpened {
      position: fixed;
      top: 8rem; 
      left: 0;
      width: 100%;
      background: var(--blue);
      border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
      transform: scaleY(1);
      transform-origin: top;
      opacity: 1;

      ul {
        flex-flow: column;
        padding: 2rem;
        list-style: none;
      }

      li {
        margin: 1.5rem;
        width: 100%;
      }

      .active {
        color: #333;
        border-color: #333;
      }

      a {
        display: block;
        color: #fff;
        padding-left: 2rem;
        border-left: 0.2rem solid #fff;
        font-size: 2rem;

        &:hover {
          color: #333;
          border-color: #333;
        }
      }
    }

    .home .content {
      text-align: center;

      h3 {
        font-size: 4.5rem;
      }
    }
  
    .order .row .image {
      display: none;
    }
  }

  @media (max-width: 991px) {
    html {
      font-size: 55%;
    }

    .home {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  @media (max-width: 500px) {
    .homepage {
      html {
        font-size: 50%;
      }

      section {
        padding: 1rem 5%;
        padding-top: 8.5rem;
      }
    }
  }
}
// // Fim header section and responsiveness
// // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Começo footer section 
.footer {
  background: #282727;
  padding: 1rem 7%;

  .boxContainer {
    display: flex;
    flex-wrap: wrap;

    .box {
      flex: 1 1 25rem;
      margin: 2rem;

      h3 {
        font-size: 2rem;
        color: #fff;
        padding: 1rem 0;
        font-weight: normal;
      }

      p {
        font-size: 1.4rem;
        color: #eee;
        padding: 1rem 0;

        svg {
          padding-right: 0.2rem;
          color: var(--blue);
        }
      }

      a {
        font-size: 1.4rem;
        color: #eee;
        padding: 1rem 0;
        display: block;

        &:hover {
          color: var(--blue);
        }

        svg {
          padding-right: 0.2rem;
          color: var(--blue);
        }
      }
    }
  }

  .credit {
    font-size: 2rem;
    text-align: center;
    border-top: 0.2rem solid rgba(255, 255, 255, 0.7);
    padding: 2rem 1rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    color: #fff;

    a {
      color: var(--blue);
    }
  }
}
// Fim footer section 
// // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

